internalStore/internalStoreSDOService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="internalStoreSDOService"
     targetNamespace="/internalstoresdo/common/"
     xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="/internalstoresdo/common/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:types="/internalstoresdo/common/types/"
    >
    <wsdl:import namespace="http://xmlns.oracle.com/adf/svc/errors/" location="ServiceException.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="/internalstoresdo/common/types/" schemaLocation="internalStoreSDOService.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="internalStoreSDOService_getInternalStoreView1">
        <wsdl:part name="parameters" element="types:getInternalStoreView1"/>
    </wsdl:message>
    <wsdl:message name="internalStoreSDOService_getInternalStoreView1Response">
        <wsdl:part name="parameters" element="types:getInternalStoreView1Response"/>
    </wsdl:message>
    <wsdl:message name="internalStoreSDOService_createInternalStoreView1">
        <wsdl:part name="parameters" element="types:createInternalStoreView1"/>
    </wsdl:message>
    <wsdl:message name="internalStoreSDOService_createInternalStoreView1Response">
        <wsdl:part name="parameters" element="types:createInternalStoreView1Response"/>
    </wsdl:message>
    <wsdl:message name="internalStoreSDOService_updateInternalStoreView1">
        <wsdl:part name="parameters" element="types:updateInternalStoreView1"/>
    </wsdl:message>
    <wsdl:message name="internalStoreSDOService_updateInternalStoreView1Response">
        <wsdl:part name="parameters" element="types:updateInternalStoreView1Response"/>
    </wsdl:message>
    <wsdl:message name="internalStoreSDOService_deleteInternalStoreView1">
        <wsdl:part name="parameters" element="types:deleteInternalStoreView1"/>
    </wsdl:message>
    <wsdl:message name="internalStoreSDOService_deleteInternalStoreView1Response">
        <wsdl:part name="parameters" element="types:deleteInternalStoreView1Response"/>
    </wsdl:message>
    <wsdl:message name="internalStoreSDOService_mergeInternalStoreView1">
        <wsdl:part name="parameters" element="types:mergeInternalStoreView1"/>
    </wsdl:message>
    <wsdl:message name="internalStoreSDOService_mergeInternalStoreView1Response">
        <wsdl:part name="parameters" element="types:mergeInternalStoreView1Response"/>
    </wsdl:message>
    <wsdl:message name="internalStoreSDOService_findInternalStoreView1">
        <wsdl:part name="parameters" element="types:findInternalStoreView1"/>
    </wsdl:message>
    <wsdl:message name="internalStoreSDOService_findInternalStoreView1Response">
        <wsdl:part name="parameters" element="types:findInternalStoreView1Response"/>
    </wsdl:message>
    <wsdl:message name="internalStoreSDOService_processInternalStoreView1">
        <wsdl:part name="parameters" element="types:processInternalStoreView1"/>
    </wsdl:message>
    <wsdl:message name="internalStoreSDOService_processInternalStoreView1Response">
        <wsdl:part name="parameters" element="types:processInternalStoreView1Response"/>
    </wsdl:message>
    <wsdl:message name="internalStoreSDOService_processCSInternalStoreView1">
        <wsdl:part name="parameters" element="types:processCSInternalStoreView1"/>
    </wsdl:message>
    <wsdl:message name="internalStoreSDOService_processCSInternalStoreView1Response">
        <wsdl:part name="parameters" element="types:processCSInternalStoreView1Response"/>
    </wsdl:message>
    <wsdl:portType name="internalStoreSDOService">
        <wsdl:documentation>
            <ViewInstance xmlns="http://xmlns.oracle.com/adf/svc/metadata/" Name="InternalStoreView1" SDOName="tns:InternalStoreViewSDO"
                 CreateOpName="createInternalStoreView1" UpdateOpName="updateInternalStoreView1"
                 DeleteOpName="deleteInternalStoreView1" MergeOpName="mergeInternalStoreView1"
                 GetOpName="getInternalStoreView1" FindOpName="findInternalStoreView1" ProcessOpName="processInternalStoreView1"
                 ProcessCSOpName="processCSInternalStoreView1"/>
        </wsdl:documentation>
        <wsdl:operation name="getInternalStoreView1">
            <wsdl:input message="tns:internalStoreSDOService_getInternalStoreView1"/>
            <wsdl:output message="tns:internalStoreSDOService_getInternalStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="createInternalStoreView1">
            <wsdl:input message="tns:internalStoreSDOService_createInternalStoreView1"/>
            <wsdl:output message="tns:internalStoreSDOService_createInternalStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="updateInternalStoreView1">
            <wsdl:input message="tns:internalStoreSDOService_updateInternalStoreView1"/>
            <wsdl:output message="tns:internalStoreSDOService_updateInternalStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteInternalStoreView1">
            <wsdl:input message="tns:internalStoreSDOService_deleteInternalStoreView1"/>
            <wsdl:output message="tns:internalStoreSDOService_deleteInternalStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="mergeInternalStoreView1">
            <wsdl:input message="tns:internalStoreSDOService_mergeInternalStoreView1"/>
            <wsdl:output message="tns:internalStoreSDOService_mergeInternalStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="findInternalStoreView1">
            <wsdl:input message="tns:internalStoreSDOService_findInternalStoreView1"/>
            <wsdl:output message="tns:internalStoreSDOService_findInternalStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="processInternalStoreView1">
            <wsdl:input message="tns:internalStoreSDOService_processInternalStoreView1"/>
            <wsdl:output message="tns:internalStoreSDOService_processInternalStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="processCSInternalStoreView1">
            <wsdl:input message="tns:internalStoreSDOService_processCSInternalStoreView1"/>
            <wsdl:output message="tns:internalStoreSDOService_processCSInternalStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="internalStoreSDOServiceSoapHttp" type="tns:internalStoreSDOService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getInternalStoreView1">
            <soap:operation soapAction="/internalstoresdo/common/getInternalStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createInternalStoreView1">
            <soap:operation soapAction="/internalstoresdo/common/createInternalStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateInternalStoreView1">
            <soap:operation soapAction="/internalstoresdo/common/updateInternalStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteInternalStoreView1">
            <soap:operation soapAction="/internalstoresdo/common/deleteInternalStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="mergeInternalStoreView1">
            <soap:operation soapAction="/internalstoresdo/common/mergeInternalStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findInternalStoreView1">
            <soap:operation soapAction="/internalstoresdo/common/findInternalStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="processInternalStoreView1">
            <soap:operation soapAction="/internalstoresdo/common/processInternalStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="processCSInternalStoreView1">
            <soap:operation soapAction="/internalstoresdo/common/processCSInternalStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="internalStoreSDOService">
        <wsdl:port name="internalStoreSDOServiceSoapHttpPort" binding="tns:internalStoreSDOServiceSoapHttp">
            <soap:address location="http://soabpm-vm:7001/internalStoreSDO-app/internalStoreSDOService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
