POProcessing/Fulfillment.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="Fulfillment"
     targetNamespace="http://xmlns.oracle.com/POApp/POProcessing/Fulfillment"
     xmlns:ns1="http://www.example.org/ns/fulfillment"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:client="http://xmlns.oracle.com/POApp/POProcessing/Fulfillment"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="Fulfillment">
        <plnk:role name="FulfillmentProvider" portType="client:Fulfillment"/>
        <plnk:role name="FulfillmentRequester" portType="client:FulfillmentCallback"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.example.org/ns/fulfillment"
             xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:client="http://xmlns.oracle.com/POApp/POProcessing/Fulfillment"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <import namespace="http://www.example.org/ns/fulfillment" schemaLocation="xsd/fulfillment.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="FulfillmentResponseMessage">
        <wsdl:part name="payload" element="ns1:FulfillmentResponse"/>
    </wsdl:message>
    <wsdl:message name="FulfillmentRequestMessage">
        <wsdl:part name="payload" element="ns1:FulFillmentRequest"/>
    </wsdl:message>
    <wsdl:portType name="FulfillmentCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:FulfillmentResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="Fulfillment">
        <wsdl:operation name="process">
            <wsdl:input message="client:FulfillmentRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
