POProcessing/manageStock.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="manageStock"
     targetNamespace="http://xmlns.oracle.com/POApp/onlineStore/manageStock"
     xmlns:ns1="http://www.example.org/ns/store"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:client="http://xmlns.oracle.com/POApp/onlineStore/manageStock"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="manageStock">
        <plnk:role name="manageStockProvider" portType="client:manageStock"/>
        <plnk:role name="manageStockRequester" portType="client:manageStockCallback"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.example.org/ns/store" schemaLocation="xsd/storeinfo.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="manageStockRequestMessage">
        <wsdl:part name="payload" element="ns1:StoreRequest"/>
    </wsdl:message>
    <wsdl:message name="manageStockResponseMessage">
        <wsdl:part name="payload" element="ns1:StoreResponse"/>
    </wsdl:message>
    <wsdl:portType name="manageStock">
        <wsdl:operation name="checkStock">
            <wsdl:input message="client:manageStockRequestMessage"/>
        </wsdl:operation>
        <wsdl:operation name="acquireStock">
            <wsdl:input message="client:manageStockRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="manageStockCallback">
        <wsdl:operation name="checkStockResponse">
            <wsdl:input message="client:manageStockResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="acquireStockResponse">
            <wsdl:input message="client:manageStockResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
